/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container:after {
    clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}
a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}
/* Estilos de Documennto*/
header {
position: fixed;
background: white;
width: 100%;
top: 0;
}

.menu {
padding: 14px 70px;
overflow: auto;
}

.link {
font-weight: 700;
padding: 21px;
display: inline-block;
}

.logo {
float: right;
}

#home {
background-image: url(../images/bg-home.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 554px;
text-align: center;
margin-top: 80px;
}

#home .container {
color: white;
padding: 70px;
}

#home p {
color: #c6c7c5;
}

.text-home {
font-size: 53px;
}

.btn-home {
background: #2ECC71;
color: #fff;
padding: 11px 20px;
border-radius: 1px;
font-weight: 500;
text-transform: uppercase;
margin-top: 63px;
display: inline-block;
font-size: 14px;
text-decoration: none;
}

#services {
background-color: #F17C72;
text-align: center;
color: #fff;
padding: 70px 7px;
}

#services h5, h6 {
font-weight: 500;
}
.box-services {
display: inline-block;
width: 30%;
margin-top: 63px;
}

.text-services {
font-size: 35px;
letter-spacing: 2px;
}

/*contenedor popupp*/
#work {
text-align: center;
padding-top: 35px;
color: #373B47;
}

.box-images figure {
display: inline-block;
margin: 30px;
}

.box-images img {
width: 300px;
}

#work figcaption, [alt="hero"]{
padding-top: 20px;
}

.modal-wrapper {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}

.modal-wrapper:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(46, 204, 113, 0.9);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin: 25px auto;
   padding:10px;
   background-color: white;
   width: 55%;
}
a.popup-cerrar {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0 16px 0 0;
   font-size: 30px;
	 font-weight: 600;
   text-decoration: none;
   color:#2ECC71;
}

footer {
text-align: center;
height: 70px;
background: #373B47;
color: white;
padding-top: 7px;
}
